* { margin:0; padding:0; border:0; }
html { width:100%; height:100%; }

body {
  background-color: #6666e6;
  font-family: sans-serif;
  color:white;
  font-size:11px;
  text-align:center;
}


#debug {
  position:absolute;
  text-align: right;
  top:10px;
  right:10px;
  width:300px;
  height:500px;
  font-size: 10px;
}


h1 a {
  text-decoration: none;
}

a {
  color: darkgreen;
}

a:link {
  color: darkgreen;
}

a:hover {
  color: darkgreen;
}

.bad {
  background-color: red;
  color: yellow;
}

.canvasWidth {
  width: 600px;
  margin: auto;
}

.splashWidth {
  width: 400px;
  margin: auto;
}

.clr {
  clear: both;
}

.modalHeader {
  padding: 5px;
  margin: 5px;
}

.good {
  background-color: LightGreen;
  color: black;
}

.info {
  width: 20%;
  text-align: centre;
}

.left {
  float: left;
}

.right {
  float: right;
}

.neutral {
  background-color: white;
  color: black;
}

.row {
  display: table-row;
}

.col {
  display: table-cell;
}

.links {
  float: right;
}

.awaitGeneration, .hidden {
  display: none;
}

.table {
  display: table;
}



.miscButton {
  width: 100px;
}

.initialHidden {
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid black;
  padding: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: white;
  /*font-size: large;*/
  width: 500px;
}

.splashButton {
  width: 100px;
  margin: auto;
  border: none;
  cursor: pointer;
}





#appeal {
  border: 1px solid gray;
  padding: 10px;
  font-size: 12px;
}

#appeal h2 {
  color: yellow;
}

#budgetRequest, #budgetHeader {
  background-color: dodgerblue;
  border: none;
  color: white;
}

/*#residentialButton {
  background-color: lime;
}

#policeButton {
  background-color: darkblue;
  color: white;
}

#coalButton {
  background-color: gray;
}

#wireButton {
  background-color: khaki;
}

#commercialButton {
  background-color: blue;
  color: white;
}

#fireButton {
  background-color: red;
}

#nuclearButton {
  background-color: mistyrose;
}

#roadButton {
  background-color: black;
  color: white;
}

#industrialButton {
  background-color: yellow;
}

#portButton {
 background-color: dodgerblue;
 color: white;
}

#stadiumButton {
  background-color: indigo;
  color: white;
}

#railButton {
  background-color: brown;
  color: white;
}

#parkButton {
  background-color: darkgreen;
  color: white;
}

#airportButton {
  background-color: violet;
}

#queryButton {
  background-color: cyan;
}

#bulldozerButton {
  background-color: salmon;
}*/



#disasterRequest, #disasterHeader {
  background-color: red;
  color: yellow;
}

#evalRequest, #evalHeader {
  background-color: forestgreen;
  border: none;
  color: white;
}

#queryHeader {
  background-color: cyan;
}





#miscButtons {
  margin-top: 10px;
}

#miscButtons button {
  margin: 5px;
  border: none;
  cursor: pointer;
}



#opaque {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .80;
  filter: Alpha(Opacity=80); 
  background-color: rgb(238, 238, 238);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 50% 50%;
  z-index: 10;
}

#pauseRequest {
  background-color: lightgray;
  border: none;
  color: black;
}

#rightButtons {
  float: right;
}

#canvasContainer {
  margin-top:40px;
  /*position:absolute;
  width: 400px;
  height: 400px;
  top:40px;
  left:0;*/
}

#container {
  position:absolute;
  left: calc(50% - 200px);
  top:20px;
  /*left:calc(100%-200px);
  margin-left: auto;
  margin-right: auto;*/
}

#disasterLabel {
  font-size: smaller;
}

#splashContainer {
  margin-top:10px;
  /*position:absolute;
  
  left:0;*/
  text-align: centre;
}

#splashGenerate {
  background-color: dodgerBlue;
  color: white;
  height:40px;
}

#splashPlay {
  background-color: lightgreen;
  height:40px;
}

.splashButtons {
  width:250px;
  height:40px;
  margin:auto;
}

#difficulties {
  margin-top: 10px;
}

#RCIContainer {
  width: 100px;
  height: 100px;
  padding: 0px;
  margin: 0px;
}

#toolInfo {
  background-color: red;
  position:absolute;
  top:5px;
  left: calc(50% - 200px);
  width:50%;
  height:20px;
  text-align: center;
}
#infobar {
  background-color:#6666e6;
  position:absolute;
  top:0px;
  left: calc(50% - 200px);
  width:400px;
  height:20px;
}
#notifications {
  position:absolute;
  top:20px;
  left: calc(50% - 200px);
  width:400px;
  height:15px;
  text-align: center;
  font-size:12px;
}
#buttonsInfos {
  position:absolute;
  top:445px;
  left: calc(50% - 200px);
  width:400px;
  height:15px;
  text-align: center;
  font-size:12px;
}
#buttons {
  position:absolute;
  top:460px;
  left: calc(50% - 200px);
  width:400px;
  height:100px;
  text-align: center;
}
.toolButton {
  width:96px;
  height:20px;
  margin:2px 2px;
  color:white;
  background-color: black;
  font-size:11px;
}
.selected {
  background-color: gray;
}
.unselected {
  background-color: black;
}


#miscControls {
  position:absolute;
  top:560px;
  left: calc(50% - 200px);
  padding: 5px;
  width: 400px;
  margin: auto;
}
